* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #edf2f7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .8rem 3rem;
  background-color: #654fef;
}

.header .site-brand {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.navbar ul a:hover {
  color: #1b1b1b;
}

.navbar img {
  width: 40px;
  border-radius: 50%;
}

.hamburger-menu, .close {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 300;
}

.hamburger-menu span, .close span {
  background-color: #fff;
  height: 3px;
  width: 25px;
  display: inline-block;
  border-radius: 5px;
  margin: 2px 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.close {
  position: fixed;
  z-index: 300;
  top: 25px;
  right: 3rem;
}

.close span:first-child {
  display: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.close span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.close span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: relative;
  top: -7px;
  right: 1px;
}

.main {
  margin: 1rem 3rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main aside {
  height: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  margin-right: 25px;
}

.main aside div {
  background-color: #654fef;
  height: 110px;
  width: 100%;
  text-align: center;
  line-height: 110px;
  margin: 20px 10px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.main main {
  height: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

.main main img {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
}

.main main h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #654fef;
  margin: 2rem 0 3rem;
  text-align: center;
}

.main main p {
  font-size: 2rem;
  font-weight: bold;
  color: #1b1b1b;
}

.cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: 3rem 3rem 3.5rem;
}

.card {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.card img {
  width: 100%;
}

.card p {
  padding: 15px;
  font-size: 1.1rem;
  font-weight: 100;
  color: #1b1b1b;
  text-align: left;
  line-height: 1.5rem;
}

.card span {
  display: inline-block;
  padding: 10px 20px 30px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #654fef;
}

.footer {
  padding: 2rem 3rem;
  background-color: #654fef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .about {
  font-size: 1.2rem;
  font-weight: 100;
  color: #fff;
  text-align: justify;
  width: 50%;
}

.footer .links {
  margin-left: 60px;
}

.footer .links ul {
  list-style: none;
}

.footer .links a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  margin-bottom: 10px;
  display: inline-block;
}

.footer .links a:hover {
  color: #1b1b1b;
}

@media (max-width: 768px) {
  .hamburger-menu, .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1rem;
    background-color: #7381c3;
    position: fixed;
    top: 0;
    right: -40vw;
    bottom: 0;
    width: 40vw;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: calc(100vh - 170px);
  }
  .navbar a {
    text-align: left;
    display: inline-block;
  }
  .navbar img {
    margin-left: 7px;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 0;
  }
  .main aside {
    width: 100%;
    margin-right: 0;
  }
  .main main {
    width: 100%;
    margin-bottom: 20px;
  }
  .main main p {
    font-size: 1.3rem;
  }
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .about {
    width: 100%;
  }
  .footer .links {
    margin: 30px 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}
/*# sourceMappingURL=style.css.map */